
//_------------ FONT 1
$fontSizeh1 :     36px ;
$fontSizeh2 :     30px ;
$fontWeight :   600 ;
$lineHeight :   1.5 ;
$font-family: 'Poppins', sans-serif;



//---------------------- FONT 2

$fontSizeop :     18px ;
$fontWeightop :   400, 700 ;
$lineHeightop :   1.5 ;
$font-familyop: 'Open Sans', sans-serif;